  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #d9e4f5, #f7d9f0);
      /* Açık pastel mavi → pembe geçiş */
      background-attachment: fixed;
      /* Kaydırınca sabit durur */
  }

  h2 {
      text-align: center;
      color: #444;
  }

  p {
      width: 80%;
      margin: auto;
      font-size: 18px;
      line-height: 1.6;
      color: #333;
  }

  table a {
      text-decoration: none;
      color: #222;
      font-weight: bold;
  }

  table {
      margin-bottom: 20px;
  }

  h4 {
      text-align: center;
  }